// @require "../dimension"

narrowest()
  --child-max-inline-size 4rem

narrower()
  --child-max-inline-size 8rem

narrow()
  --child-max-inline-size 12rem

// wide()
//   --block-flex-grow 1
//   --block-max-inline-size 25%

// wider()
//   --block-flex-grow 2
//   --block-flex-basis 33.33%

// widest()
//   --block-flex-basis 100%

// left()
//   --block-justify-content flex-start
//   --block-child-justify-content flex-start
//   --text-align left


// right()
//   --block-justify-content flex-end
//   --block-child-justify-content flex-end
//   --text-align right


// center()
//   --block-justify-content center
//   --block-child-justify-content center
//   --block-child-align-items center
//   --text-align center

// round_()
//   //!important is needed to overwrite --border-radius in .border
//   --border-radius 0.5rem !important
//   --block-img-object-fit cover

// rounder()
//   //!important is needed to overwrite --border-radius in .border
//   --border-radius 1rem !important
//   --block-img-object-fit cover

// roundest()
//   //!important is needed to overwrite --border-radius in .border
//   --border-radius 1.5rem !important
//   --block-img-object-fit cover

// circular()
//   //!important is needed to overwrite --border-radius in .border
//   --border-radius 9999px !important
//   --block-img-object-fit cover

// vertical()
//   --block-child-flex-direction column
//   --block-child-flex-wrap nowrap

// horizontal()
//   --block-child-flex-direction row
//   --block-child-flex-wrap wrap

// reverse()
//   --section-aside-float left
//   --section-aside-margin-left none
//   --section-aside-margin-right 1rem

// borders()
//   --block-child-border 1px solid var(--border-color)
//   --border-radius 0
//   --block-child-padding 1rem

// vertical()
//   --section-aside-float none
//   --section-aside-margin-left none
//   --section-aside-margin-right none

// shadow()
//   --block-child-box-shadow 0.5rem 0.5rem 0.5rem var(--border-color)


