smallest()
  --copy-font-size var(--smallest-copy-font-size)
  --copy-line-height var(--smallest-copy-line-height)
  --caption-font-size var(--smallest-copy-font-size)
  --caption-line-height var(--smallest-copy-line-height)
  --first-level-heading-font-size var(--small-heading-font-size)
  --first-level-heading-line-height var(--small-heading-line-height)
  --second-level-heading-font-size var(--smaller-heading-font-size)
  --second-level-heading-line-height var(--smaller-heading-line-height)
  --third-level-heading-font-size var(--smallest-heading-font-size)
  --third-level-heading-line-height var(--smallest-heading-line-height)

smaller()
  --copy-font-size var(--smaller-copy-font-size)
  --copy-line-height var(--smaller-copy-line-height)
  --caption-font-size var(--smallest-copy-font-size)
  --caption-line-height var(--smallest-copy-line-height)
  --first-level-heading-font-size var(--default-heading-font-size)
  --first-level-heading-line-height var(--default-heading-line-height)
  --second-level-heading-font-size var(--small-heading-font-size)
  --second-level-heading-line-height var(--small-heading-line-height)
  --third-level-heading-font-size var(--smaller-heading-font-size)
  --third-level-heading-line-height var(--smaller-heading-line-height)

small()
  --copy-font-size var(--small-copy-font-size)
  --copy-line-height var(--small-copy-line-height)
  --caption-font-size var(--smaller-copy-font-size)
  --caption-line-height var(--smaller-copy-line-height)
  --first-level-heading-font-size var(--large-heading-font-size)
  --first-level-heading-line-height var(--large-heading-line-height)
  --second-level-heading-font-size var(--default-heading-font-size)
  --second-level-heading-line-height var(--default-heading-line-height)
  --third-level-heading-font-size var(--small-heading-font-size)
  --third-level-heading-line-height var(--small-heading-line-height)

large()
  --copy-font-size var(--large-copy-font-size)
  --copy-line-height var(--large-copy-line-height)
  --caption-font-size var(--default-copy-font-size)
  --caption-line-height var(--default-copy-line-height)
  --first-level-heading-font-size var(--larger-heading-font-size)
  --first-level-heading-line-height var(--larger-heading-line-height)
  --second-level-heading-font-size var(--large-heading-font-size)
  --second-level-heading-line-height var(--large-heading-line-height)
  --third-level-heading-font-size var(--default-heading-font-size)
  --third-level-heading-line-height var(--default-heading-line-height)
  --copy-max-width 60ch

larger()
  --copy-font-size var(--larger-copy-font-size)
  --copy-line-height var(--larger-copy-line-height)
  --caption-font-size var(--large-copy-font-size)
  --caption-line-height var(--large-copy-line-height)
  --first-level-heading-font-size var(--largest-heading-font-size)
  --first-level-heading-line-height var(--largest-heading-line-height)
  --second-level-heading-font-size var(--larger-heading-font-size)
  --second-level-heading-line-height var(--larger-heading-line-height)
  --third-level-heading-font-size var(--large-heading-font-size)
  --third-level-heading-line-height var(--large-heading-line-height)
  --copy-max-width 48ch

largest()
  --copy-font-size var(--largest-copy-font-size)
  --copy-line-height var(--largest-copy-line-height)
  --caption-font-size var(--larger-copy-font-size)
  --caption-line-height var(--larger-copy-line-height)
  --first-level-heading-font-size var(--default-banner-font-size)
  --first-level-heading-line-height var(--default-banner-line-height)
  --second-level-heading-font-size var(--largest-heading-font-size)
  --second-level-heading-line-height var(--largest-heading-line-height)
  --third-level-heading-font-size var(--larger-heading-font-size)
  --third-level-heading-line-height var(--larger-heading-line-height)
  --copy-max-width 32ch