a
  &.link
    &.button
      display flex
      justify-content center
      align-content center
      padding-block 0.5rem 
      padding-inline 0.75rem
      color var(--background)
      background-color var(--highlight)
      border 1px solid var(--highlight)
      border-radius 0.5rem
      min-width 8rem

      &:focus-visible
        outline 1px solid var(--accent)
        outline-offset 1px

      &:disabled
        opacity 33%

      // TODO use custom property here
      & > .text > *
        text-align center
