// lightness = "lightest" "lighter" "light" "auto" "dark" "darker" "darkest"

// chroma = "lowest" "lower" "low" "auto" "high" "higher" "highest"

// hue = "red" "red-orange" "orange" "orange-gold" "gold" "gold-green" \
//   "green" "green-blue" "blue" "blue-violet" "violet-blue" "violet"

// for name, n in lightness
//   .{name}
//     --lightness .85 - ( n * .10 )

// for name, n in chroma
//   .chroma-{name}
//     --chroma .15 + ( n * .10 )

// for name, n in hue
//   .hue-{name}
//     --hue 0 + ( n * 30 )

// :root, :host
//   --lightness 100
//   --chroma 0
//   --hue 0

:root, :host
  --input-color white

// TODO is there a better way to set this?
*
  // --highlight oklch(var(--lightness) var(--chroma) var(--hue))
  --highlight var(--input-color)
  // TODO is + .5 reliable? probably need colorist
  --accent oklch(from var(--highlight) var(l + .5) c h )
  // TODO add more shades