:root, :host

  line-heights = 0.75 1 1.25 1.5 1.75 2.25 2.75 3.5 4.5 6 8

  for value, n in line-heights
    --line-height-{n} s("%drem", value)

  lh-names = "smallest" "smaller" "small" "default" \
    "large" "larger" "largest"

  for name, n in lh-names
    --lh-copy-{name} s("var(--line-height-%d)", n)
    --lh-heading-{name} s("var(--line-height-%d)", n + 4)

  ratios = 1 .9 .8 .7 .6 .5
  ratio-names = "tightest" "tighter" "tight" \
    "loose" "looser" "loosest"

  for value, n in ratios
    name = ratio-names[n]
    --lhr-{name} value

  --lh-copy var(--lh-copy-default)
  --lhr-copy var(--lhr-loose)
  --font-size-copy unquote("calc(var(--lh-copy) * var(--lhr-copy))")

  --lhr-heading var(--lhr-tighter)
  --font-size-heading unquote("calc(var(--lh-heading) * var(--lhr-heading))")

  --copy-margin 1rem

  // adapted from https://modernfontstacks.com/
  --font-stack-system-ui system-ui, sans-serif
  --font-stack-transitional Charter, Bitstream Charter, Sitka Text, Cambria, serif
  --font-stack-old-style Iowan Old Style, Palatino Linotype, URW Palladio L, P052, serif
  --font-stack-humanist Seravek, Gill Sans Nova, Ubuntu, Calibri, DejaVu Sans, source-sans-pro, sans-serif
  --font-stack-geometric-humanist Avenir, Montserrat, Corbel, URW Gothic, source-sans-pro, sans-serif
  --font-stack-classical-humanist Optima, Candara, Noto Sans, source-sans-pro, sans-serif
  --font-stack-neo-grotesque Inter, Roboto, Helvetica Neue, Arial Nova, Nimbus Sans, Arial, sans-serif
  --font-stack-monospace-slab-serif Nimbus Mono PS, Courier New, monospace
  --font-stack-monospace-code Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono,Monaco, Droid Sans Mono, Source Code Pro, Cascadia Code,Menlo, Consolas, DejaVu Sans Mono, monospace
  --font-stack-industrial Bahnschrift, DIN Alternate, Franklin Gothic Medium, Nimbus Sans Narrow, sans-serif-condensed, sans-serif
  --font-stack-rounded-sans ui-rounded, Hiragino Maru Gothic ProN, Quicksand, Comfortaa, Manjari, Arial Rounded MT, Arial Rounded MT Bold, Calibri, source-sans-pro, sans-serif
  --font-stack-slab-serif Rockwell, Rockwell Nova, Roboto Slab, DejaVu Serif, Sitka Small, serif
  --font-stack-antique Superclarendon, Bookman Old Style, URW Bookman, URW Bookman L, Georgia Pro, Georgia, serif
  --font-stack-didone Didot, Bodoni MT, Noto Serif Display, URW Palladio L, P052, Sylfaen, serif
  --font-stack-handwritten Segoe Print, Bradley Hand, Chilanka, TSCu_Comic, casual, cursive

  // simplified aliases that can be remapped
  --font-classic var(--font-stack-antique)
  --font-transitional var(--font-stack-transitional)
  --font-slab var(--font-stack-slab-serif)
  --font-system var(--font-stack-system-ui)
  --font-humanist var(--font-stack-classical-humanist)
  --font-geometric var(--font-stack-geometric-humanist)
  --font-modern var(--font-stack-neo-grotesque)

  // defaults
  --base-font var(--font-system)
  --copy-font var(--base-font)
  --heading-font var(--base-font)

