:root, :host
  --min-inline-size 10rem

.narrowest
  --max-inline-size 4rem
.narrower
  --max-inline-size 6rem
.narrow
  --max-inline-size 8rem
.wide
  --max-inline-size 12rem
.wider
  --max-inline-size 15rem
.widest
  --max-inline-size 20rem