.colors
  --foreground var(--light-foreground)
  --foreground-color var(--light-foreground-color)
  --background var(--light-background)
  --background-color var(--light-background-color)
  --highlight var(--light-highlight)
  --highlight-color var(--light-highlight-color)
  --accent var(--light-accent)
  --accent-color var(--light-accent-color)

  @media (prefers-color-scheme: dark)
    --foreground var(--dark-foreground)
    --foreground-color var(--dark-foreground-color)
    --background var(--dark-background)
    --background-color var(--dark-background-color)
    --highlight var(--dark-highlight)
    --highlight-color var(--dark-highlight-color)
    --accent var(--dark-accent)
    --accent-color var(--dark-accent-color)

  color var(--foreground-color)
  background var(--background)

:host([data-mode="light"])
  .colors
    --foreground var(--light-foreground)
    --foreground-color var(--light-foreground-color)
    --background var(--light-background)
    --background-color var(--light-background-color)
    --highlight var(--light-highlight)
    --highlight-color var(--light-highlight-color)
    --accent var(--light-accent)
    --accent-color var(--light-accent-color)

:host([data-mode="dark"])
  .colors
    --foreground var(--dark-foreground)
    --foreground-color var(--dark-foreground-color)
    --background var(--dark-background)
    --background-color var(--dark-background-color)
    --highlight var(--dark-highlight)
    --highlight-color var(--dark-highlight-color)
    --accent var(--dark-accent)
    --accent-color var(--dark-accent-color)
