@require "../mixins/typography"

.button
  display flex
  justify-content center
  align-items center
  padding 1rem
  color var(--background)
  background-color var(--highlight)
  border var(--border-thinnest)
  border-radius var(--radius-small)
  min-width 8rem

  &:visited, &:hover
    color var(--background)

  &:focus-visible
    outline 1px solid var(--accent)
    outline-offset 1px  

  // TODO resolve composition of utilities w/o !important
  --spacing 0.8 !important
  
  p, li, blockquote
    font-family var(--base-font)
    text-align center
