// :root, :host
  
//   --foreground var(--light-foreground)
//   --foreground-color var(--light-foreground-color)
//   --background var(--light-background)
//   --background-color var(--light-background-color)
//   --highlight var(--light-highlight)
//   --highlight-color var(--light-highlight-color)
//   --accent var(--light-accent)
//   --accent-color var(--light-accent-color)

//   @media (prefers-color-scheme: dark)
//     --foreground var(--dark-foreground)
//     --foreground-color var(--dark-foreground-color)
//     --background var(--dark-background)
//     --background-color var(--dark-background-color)
//     --highlight var(--dark-highlight)
//     --highlight-color var(--dark-highlight-color)
//     --accent var(--dark-accent)
//     --accent-color var(--dark-accent-color)

//   &[data-mode="light"]
//     --foreground var(--light-foreground)
//     --foreground-color var(--light-foreground-color)
//     --background var(--light-background)
//     --background-color var(--light-background-color)
//     --highlight var(--light-highlight)
//     --highlight-color var(--light-highlight-color)
//     --accent var(--light-accent)
//     --accent-color var(--light-accent-color)

//   &[data-mode="dark"]
//     --foreground var(--dark-foreground)
//     --foreground-color var(--dark-foreground-color)
//     --background var(--dark-background)
//     --background-color var(--dark-background-color)
//     --highlight var(--dark-highlight)
//     --highlight-color var(--dark-highlight-color)
//     --accent var(--dark-accent)
//     --accent-color var(--dark-accent-color)

//   body
//     color var(--foreground-color)
//     background var(--background)