nav
  display flex
  align-items baseline
  gap 1rem

a
  display flex
  align-items baseline
  gap 1rem
  color var(--highlight)
  text-decoration none

  &:visited, &:hover
    color var(--highlight)
