nav
  display flex
  align-items baseline
  gap var(--gap)

a
  display flex
  align-items baseline
  gap var(--gap)
  color var(--highlight)
  text-decoration none

  &:visited, &:hover
    color var(--highlight)
