@require "../mixins/typography"

:root, :host
  --container-min 0.20rem
  --container-range s("calc(3/5)")

  body
    font-family var(--base-font)
    font-optical-sizing auto    
    typography({
      harmonic: 3
      spacing: 0.5
      start: 6
      scale: 0.25
      responsiveness: 1
    })

h1, h2, h3, h4, h5, h6, p, li, blockquote
  &:not(:first-child)
    margin-top var(--copy-margin)


h1, h2, h3, h4, h5, h6
  font-family var(--heading-font)

p, li, blockquote, article
  font-family var(--copy-font)


typography({
  selectors: h6 h5 h4 h3 h2 h1
  harmonic: 4
  spacing: 0.9
  start: 5
  scale: 0.25
  responsiveness: 1
})

header, footer

  p, li, blockquote
    font-family var(--base-font)

  typography({
    harmonic: 4
    spacing: 0.8
    start: 5
    scale: 0.25
    responsiveness: 1
  })
