.flow
  display flex
  flex-wrap nowrap

.wrap
  flex-wrap wrap
    
.grid
  display grid
  grid-auto-flow row
  // TODO possibly replace 8rem here with custom property
  grid-template-columns repeat(auto-fit, minmax(8rem, 1fr))