.block
  flex-grow var(--block-flex-grow)
  flex-shrink var(--block-flex-shrink)
  flex-basis var(--block-flex-basis)
  max-width var(--block-max-width)

  display var(--block-display)
  flex-direction var(--block-flex-direction)
  justify-content var(--block-justify-content)
  flex-wrap var(--block-flex-wrap)
  gap var(--block-gap)

  // TODO: come up with a more reliable approach
  // https://github.com/dashkite/sites/issues/36
  figure
    width var(--block-figure-width)
    height var(--block-figure-height)
    
    figcaption
      apply-caption()
      margin-top var(--block-figcaption-margin-top)
      padding-top var(--block-figcaption-padding-top)

  img
    border-radius var(--block-img-border-radius)
    object-fit var(--block-img-object-fit)
    max-height var(--block-img-max-height)
    max-width var(--block-img-max-width)

  .embed
    max-height var(--block-embed-max-height)
    max-width var(--block-embed-max-width)
    overflow var(--block-embed-overflow)

  svg.svg-inline--fa
    height 1em
    display inline
    font-size var(--block-icon-font-size)

  .svg
    display flex
    svg
      height var(--svg-height)

  .alert
    display flex 
    flex-direction column
    align-items center

  .nav-items
    display flex
    flex-direction row
    gap 2rem
  
  footer
    apply-copy()

    button
      background-color var(--primary-background)
      border 1px solid var(--primary-foreground)
      border-radius 0.5rem
      padding 0.5rem
      color var(--primary-foreground)

      img
        height var(--button-img-height)

      svg.svg-inline--fa
        font-size var(--button-icon-font-size)
    
    nav
      display flex
      gap 1rem
      align-items center

    a[href="#"]
      text-decoration underline
      
  section > header
    width 100%
  
  &.nav
    line-height var(--block-nav-line-height)
    
    & > nav
      flex-direction var(--block-nav-flex-direction)
      flex-wrap nowrap
    nav
      header
        display var(--block-nav-header-display)
        flex-direction var(--block-nav-header-flex-direction)
        gap var(--block-nav-header-gap)
        width 100%

      a, .nav-item, .alert-message
        apply-copy()
        display var(--block-socials-link-display)
        flex-wrap var(--block-socials-link-flex-wrap)
        gap var(--block-socials-link-gap)
        justify-content var(--block-socials-link-justify-content)
        align-items var(--block-socials-link-align-items)
        color var(--nav-color)
        
      svg.svg-inline--fa
        font-size var(--block-nav-icon-font-size)


  &.button
    borders()
    --copy-min-width 0

    & > section
      flex-grow var(--button-flex-grow)
      flex-basis var(--button-flex-basis)
      justify-content var(--button-justify-content)
      align-items center
      gap 0.5rem
      background-color var(--button-color, var(--primary-backround))
      color var(--button-text-color, var(--neutral-foreground))
      padding var(--button-padding-vertical) var(--button-padding-horizontal)

    a
      text-decoration var(--button-link-text-decoration)
      display var(--button-link-display)
      gap var(--button-link-gap)
      justify-content var(--button-link-justify-content)
      align-items var(--button-link-align-items)
      padding var(--button-link-padding)
      &:visited, &:hover
        color unset 

    img
      height var(--button-img-height)

    svg.svg-inline--fa
      font-size var(--button-icon-font-size)

  @keyframes spinner
    0%
      transform rotate(0deg)
    100%
      transform rotate(360deg)

  .loading
    row nowrap
    justify-content center
    align-items center

    &::before
      content ""

      display inline-block
      position relative
      height 32px
      width 32px

      animation 1s linear infinite spinner

      border 5px solid
      border-top-color var(--primary-foreground)
      border-right-color var(--primary-foreground)
      border-left-color var(--primary-foreground)
      border-bottom-color var(--primary-background)
      border-radius 50%

      opacity inherit


  & > :not(a), & > a > *
    display var(--block-child-display)
    flex-direction var(--block-child-flex-direction)
    flex-wrap var(--block-child-flex-wrap)
    justify-content var(--block-child-justify-content)
    align-items var(--block-child-align-items)
    gap var(--block-child-gap)

    flex-grow var(--block-child-flex-grow)
    flex-shrink var(--block-child-flex-shrink)
    flex-basis var(--block-child-flex-basis)
    max-width var(--block-child-max-width)
    max-height var(--block-child-max-height)
    height var(--block-child-height)
    width var(--block-child-width)
    border var(--block-child-border)
    padding var(--block-child-padding)
    border-radius var(--block-child-border-radius)
    box-shadow var(--block-child-box-shadow)

    h1, h2
      font-size var(--first-level-heading-font-size)
      line-height var(--first-level-heading-line-height)
    h1 ~ h2, h3
      font-size var(--second-level-heading-font-size)
      line-height var(--second-level-heading-line-height)