light-color-scheme()
  --primary-foreground #171717
  --primary-background #fafafa
  --primary-accent #737373
  light-neutral-colors()

  --background-gradient linear-gradient(#cccc, #999c)
  --image-filter grayscale(100%)

  default-color-recipe()
  --link-color var(--primary-accent)

dark-color-scheme()
  --primary-foreground #fafafa
  --primary-background #171717
  --primary-accent #737373
  dark-neutral-colors()

  --background-gradient linear-gradient(#666c, #333c)
  --image-filter grayscale(100%)

  default-color-recipe()
  --link-color var(--primary-accent)

red-light-color-scheme()
  --primary-foreground #b91c1c
  --primary-background #fafafa
  --primary-accent #ef4444
  light-neutral-colors()

  --background-gradient linear-gradient(#666c, #333c)
  --image-filter grayscale(100%)

  default-color-recipe()

red-dark-color-scheme()
  --primary-foreground #E33D3D
  --primary-background #171717
  --primary-accent #EFBDBD
  dark-neutral-colors()

  --background-gradient linear-gradient(#666c, #333c)
  --image-filter grayscale(100%)

  default-color-recipe()

green-light-color-scheme()
  --primary-foreground #24911d
  --primary-background #fafafa
  --primary-accent #e5f2cd
  light-neutral-colors()

  --background-gradient linear-gradient(#666c, #333c)
  --image-filter grayscale(100%)

  default-color-recipe()

green-dark-color-scheme()
  --primary-foreground #99d13f
  --primary-background #171717
  --primary-accent #c1f5d3
  dark-neutral-colors()

  --background-gradient linear-gradient(#666c, #333c)
  --image-filter grayscale(100%)

  default-color-recipe()

blue-light-color-scheme()
  --primary-foreground #244dad
  --primary-background #fafafa
  --primary-accent #d4d7de
  light-neutral-colors()

  --background-gradient linear-gradient(#666c, #333c)
  --image-filter grayscale(100%)

  default-color-recipe()

blue-dark-color-scheme()
  --primary-foreground #0080ff
  --primary-background #171717
  --primary-accent #fafbfc
  dark-neutral-colors()

  --background-gradient linear-gradient(#666c, #333c)
  --image-filter grayscale(100%)

  default-color-recipe()

purple-light-color-scheme()
  --primary-foreground #7c23b7
  --primary-background #fafafa
  --primary-accent #d9c3e7
  light-neutral-colors()

  --background-gradient linear-gradient(#666c, #333c)
  --image-filter grayscale(100%)

  default-color-recipe()

purple-dark-color-scheme()
  --primary-foreground #cc42d9
  --primary-background #171717
  --primary-accent #beb0c0
  dark-neutral-colors()

  --background-gradient linear-gradient(#666c, #333c)
  --image-filter grayscale(100%)

  default-color-recipe()


default-element-colors()
  --h1-color var(--primary-foreground)
  --h2-h6-color var(--neutral-foreground)
  --nav-color var(--neutral-foreground)
  --border-color var(--primary-accent)
  --link-color var(--primary-foreground)
  --icon-color var(--neutral-foreground)
  --socials-icon-color var(--neutral-foreground)

default-color-recipe()
  default-element-colors()

light-neutral-colors()
  --neutral-foreground #171717
  --neutral-accent #737373

dark-neutral-colors()
  --neutral-foreground #fafafa
  --neutral-accent #737373
