@layer sites 
  @require mixins
  
  @layer base
    @require reset
    @require normalize

  @layer vocabulary
    @require typography
    @require variables

  @layer block
    @require block

  @layer components
    @require layout
    @require typography-elements
    @require types

  @layer classes
    @require classes

  @layer hints
    @require hints

  @layer media-queries
    @require media-queries