.block
  &.narrow
    narrow()
  &.narrower
    narrower()
  &.narrowest
    narrowest()
  &.wide:not(.collection)
    wide()
  &.wider:not(.collection)
    wider()
  &.widest:not(.collection)
    widest()


.block
  &.round
    round_()
  &.rounder
    rounder()
  &.roundest
    roundest()
  &.circular
    circular()


.block
  &.vertical
    vertical()
  &.left
    left()
  &.right
    right()
  &.center
    center()
  &.reverse
    reverse()


.block
  &.border:not(.collection)
    //border is a reserved mixin so we use borders
    borders()
  &.shadow:not(.collection)
    shadow()


.block
  &.small
    small()
  &.smaller
    smaller()
  &.smallest
    smallest()
  &.large
    large()
  &.larger
    larger()
  &.largest
    largest()


.block
  &.highlight
    highlight()
  &.neutral
    neutral()


html
  light-color-scheme()

  &.dark
    dark-color-scheme()
  &.preferred
    light-color-scheme()
    @media (prefers-color-scheme: dark)
      dark-color-scheme()
  
  &.red
    red-light-color-scheme()
    &.dark
      red-dark-color-scheme()
    &.preferred
      red-light-color-scheme()
      @media (prefers-color-scheme: dark)
        red-dark-color-scheme()

  &.green
    green-light-color-scheme()
    &.dark
      green-dark-color-scheme()
    &.preferred
      green-light-color-scheme()
      @media (prefers-color-scheme: dark)
        green-dark-color-scheme()

  &.blue
    blue-light-color-scheme()
    &.dark
      blue-dark-color-scheme()
    &.preferred
      blue-light-color-scheme()
      @media (prefers-color-scheme: dark)
        blue-dark-color-scheme()

  &.purple
    purple-light-color-scheme()
    &.dark
      purple-dark-color-scheme()
    &.preferred
      purple-light-color-scheme()
      @media (prefers-color-scheme: dark)
        purple-dark-color-scheme()


html
  &.fixed-header
    --top-level-main-overflow scroll

  &.vertical-header
    --header-flex-direction column
    body
      & > header
        .block
          center()

  &.aside-left
    --aside-order -1

  &.borderless-header
    --header-border-bottom none


header
  & > .header > * > .block
    &.image
      &.shortest
        --header-img-max-height 1rem

      &.shorter
        --header-img-max-height 2rem

      &.short
        --header-img-max-height 3rem
      
      &.tall
        --header-img-max-height 6rem
      
      &.taller
        --header-img-max-height 8rem

      &.tallest
        --header-img-max-height 12rem


aside
  & > .block
    &.smallest
      --first-level-heading-font-size var(--small-heading-font-size)
      --first-level-heading-line-height var(--small-heading-line-height)
      --second-level-heading-font-size var(--smaller-heading-font-size)
      --second-level-heading-line-height var(--smaller-heading-line-height)
      --third-level-heading-font-size var(--smallest-heading-font-size)
      --third-level-heading-line-height var(--smallest-heading-line-height)

    &.large, &.larger, &.largest
      --first-level-heading-font-size var(--large-heading-font-size)
      --first-level-heading-line-height var(--large-heading-line-height)
      --second-level-heading-font-size var(--default-heading-font-size)
      --second-level-heading-line-height var(--default-heading-line-height)
      --third-level-heading-font-size var(--small-heading-font-size)
      --third-level-heading-line-height var(--small-heading-line-height)

      --copy-font-size var(--large-copy-font-size)
      --copy-line-height var(--large-copy-line-height)
      --caption-font-size var(--default-copy-font-size)
      --caption-line-height var(--default-copy-line-height)
      --copy-max-width 60ch


main
  .section, .image, .embed
    &.short
      --block-child-height vu(3)
      --svg-height vu(3)
    &.shorter
      --block-child-height vu(2)
      --svg-height vu(2)
    &.shortest
      --block-child-height vu(1)
      --svg-height vu(1)


.banner
  &.large
    --copy-font-size var(--default-heading-font-size)
    --copy-line-height var(--default-heading-line-height)
    --first-level-heading-font-size var(--large-banner-font-size)
    --first-level-heading-line-height var(--large-banner-line-height)
    --second-level-heading-font-size var(--default-banner-font-size)
    --second-level-heading-line-height var(--default-banner-line-height)
    --third-level-heading-font-size var(--largest-heading-font-size)
    --third-level-heading-line-height var(--largest-heading-line-height)
    --copy-max-width 32ch
    --banner-padding-vertical s("min(12vw, 4.5rem)")
    --banner-padding-horizontal s("min(7vw, 2.5rem)")

  &.larger
    --copy-font-size var(--large-heading-font-size)
    --copy-line-height var(--large-heading-line-height)
    --first-level-heading-font-size var(--larger-banner-font-size)
    --first-level-heading-line-height var(--larger-banner-line-height)
    --second-level-heading-font-size var(--large-banner-font-size)
    --second-level-heading-line-height var(--large-banner-line-height)
    --third-level-heading-font-size var(--default-banner-font-size)
    --third-level-heading-line-height var(--default-banner-line-height)
    --copy-max-width 32ch
    --banner-padding-vertical s("min(14vw, 5rem)")
    --banner-padding-horizontal s("min(9vw, 3rem)")

  &.largest
    --copy-font-size var(--larger-heading-font-size)
    --copy-line-height var(--larger-heading-line-height)
    --first-level-heading-font-size var(--largest-banner-font-size)
    --first-level-heading-line-height var(--largest-banner-line-height)
    --second-level-heading-font-size var(--larger-banner-font-size)
    --second-level-heading-line-height var(--larger-banner-line-height)
    --third-level-heading-font-size var(--large-banner-font-size)
    --third-level-heading-line-height var(--large-banner-line-height)
    --copy-max-width 32ch
    --banner-padding-vertical s("min(18vw, 6rem)")
    --banner-padding-horizontal s("min(13vw, 4rem)")

  //!important is needed to ensure tall, taller, tallest 
  //--banner-padding-vertical overwrites large, larger, largest
  &.tall
    --banner-padding-vertical s("min(18vw, 6rem)") !important

  &.taller
    --banner-padding-vertical s("min(26vw, 8rem)") !important

  &.tallest
    --banner-padding-vertical s("min(34vw, 10rem)") !important

  &.cozy
    --banner-padding-vertical 0
    --banner-padding-horizontal 0


.section

  &.vertical, &.narrowest
    section-vertical()

  &.center
    section-vertical()
    --section-align-items center
    --section-aside-margin-left auto
    --section-aside-margin-right auto


.button
  &.roomy
    --block-child-padding 1.5rem
  &.roomier
    --block-child-padding 2rem
  &.roomiest
    --block-child-padding 2.5rem
  &.highlight
    --button-color var(--primary-foreground)
    --block-child-border none
    --button-text-color #fff



.collection
  &.vertical, &.narrowest
    --collection-main-flex-direction column
    --collection-main-flex-wrap nowrap

  &.short
    --collection-height vu(3)
  &.shorter
    --collection-height vu(2)
  &.shortest
    --collection-height vu(1)

  &.wide, &.wider, &.widest
    --block-child-max-width unset

  &.border
    --collection-border 1px solid var(--border-color)
    --border-radius 0
    --collection-padding 1rem

  &.shadow
    --collection-box-shadow 0.5rem 0.5rem 0.5rem var(--border-color)

  & > section > .main 
    & > .block
      &.image
        
        @media screen and (min-width: s("calc(%s + (2 * min(2rem, 5vw)))", du(1)))
          --collection-image-figure-width du(1)

        &.narrowest
          --collection-image-figure-width du(.25)

        &.narrower
          --collection-image-figure-width du(.5)

        &.narrow 
          --collection-image-figure-width du(.75)

        @media screen and (min-width: s("calc(%s + (2 * min(2rem, 5vw)))", du(1.25)))
          &.wide
            --collection-image-figure-width du(1.25)

          @media screen and (max-width: s("calc(%s + (2 * min(2rem, 5vw)))", du(1.5)))
            &.wider
              --collection-image-figure-width du(1.25)
        
        @media screen and (min-width: s("calc(%s + (2 * min(2rem, 5vw)))", du(1.5)))
          &.wider
            --collection-image-figure-width s("calc(%s - 1rem)", du(1.5)) //this is the largest a figure can be to fit multiple figures on the same row

        &.widest
          --collection-image-figure-width 100%

.nav
  &.highlight
    --h2-h6-color var(--neutral-foreground)
  &.vertical
    --block-nav-flex-direction column