// Adapted from Tailwind
:root

  // at the moment, smallest and smaller are the same
  --smallest-copy-font-size 0.75rem
  --smallest-copy-line-height 1rem

  --smaller-copy-font-size 0.75rem
  --smaller-copy-line-height 1rem

  --small-copy-font-size 0.875rem
  --small-copy-line-height 1.25rem

  --default-copy-font-size 1rem
  --default-copy-line-height 1.5rem

  --large-copy-font-size 1.25rem
  --large-copy-line-height 1.75rem

  --larger-copy-font-size 1.75rem
  --larger-copy-line-height 2.25rem

  --largest-copy-font-size 2.25rem
  --largest-copy-line-height 2.75rem

  --smallest-heading-font-size var(--default-copy-font-size)
  --smallest-heading-line-height var(--default-copy-line-height)

  --smaller-heading-font-size var(--default-copy-font-size)
  --smaller-heading-line-height var(--default-copy-line-height)

  --small-heading-font-size 1.25rem
  --small-heading-line-height 1.75rem

  --default-heading-font-size 1.5rem
  --default-heading-line-height 2rem

  --large-heading-font-size 1.875rem
  --large-heading-line-height 2.25rem

  --larger-heading-font-size 2.25rem
  --larger-heading-line-height 2.5rem

  --largest-heading-font-size s("min(16vw, 3rem)")
  --largest-heading-line-height 1

  --default-banner-font-size s("min(16vw, 3.75rem)")
  --default-banner-line-height 1

  --large-banner-font-size s("min(16vw, 4.5rem)")
  --large-banner-line-height 1

  --larger-banner-font-size s("min(16vw, 6rem)")
  --larger-banner-line-height 1

  --largest-banner-font-size s("min(16vw, 8rem)")
  --largest-banner-line-height 1


:root
  --copy-font-size var(--default-copy-font-size)
  --copy-line-height var(--default-copy-line-height)
  --caption-font-size var(--small-copy-font-size)
  --caption-line-height var(--small-copy-line-height)
  --first-level-heading-font-size var(--larger-heading-font-size)
  --first-level-heading-line-height var(--larger-heading-line-height)
  --second-level-heading-font-size var(--large-heading-font-size)
  --second-level-heading-line-height var(--large-heading-line-height)
  --third-level-heading-font-size var(--default-heading-font-size)
  --third-level-heading-line-height var(--default-heading-line-height)
  --copy-max-width 72ch
  --copy-min-width min(12rem, 100vw)
