highlight()
  --h2-h6-color var(--primary-foreground)
  --border-color var(--primary-foreground)
  --nav-color var(--primary-foreground)
  --icon-color var(--primary-foreground)

neutral()
  --h1-color var(--neutral-foreground)
  --border-color var(--neutral-accent)
