copy()
  font-size var(--copy-font-size)
  line-height var(--copy-line-height)
  max-width var(--copy-max-width)
  color var(--neutral-foreground)

caption()
  font-size var(--caption-font-size)
  line-height var(--caption-line-height)
  max-width var(--copy-max-width)
  color var(--neutral-foreground)

