@layer base
  @require reset
  @require normalize

@layer lexicon
  @require "lexicon/typography"

@layer universal
  @require color
  @require typography
  @require layout
  @require navigation
  @require "layouts/simple"

// where does this belong?
*::part(header)
  --first-level-heading-font-size var(--second-level-heading-font-size)

*::part(header-2)
  --first-level-heading-font-size var(--third-level-heading-font-size)

*::part(header-3)
  --first-level-heading-font-size var(--fourth-level-heading-font-size)

*::part(header-4)
  --first-level-heading-font-size var(--fifth-level-heading-font-size)
