// main, article, section, header, footer
//   flex-grow var(--block-flex-grow)
//   flex-shrink var(--block-flex-shrink)
//   flex-basis var(--block-flex-basis)
//   max-width var(--block-max-width)

//   display var(--block-display)
//   flex-direction var(--block-flex-direction)
//   justify-content var(--block-justify-content)
//   flex-wrap var(--block-flex-wrap)
//   gap var(--block-gap)

//   // TODO: come up with a more reliable approach
//   // https://github.com/dashkite/sites/issues/36
//   figure
//     width var(--block-figure-width)
//     height var(--block-figure-height)
    
//     figcaption
//       apply-caption()
//       margin-top var(--block-figcaption-margin-top)
//       padding-top var(--block-figcaption-padding-top)

//   img
//     border-radius var(--block-img-border-radius)
//     object-fit var(--block-img-object-fit)
//     max-height var(--block-img-max-height)
//     max-width var(--block-img-max-width)

//   .embed
//     max-height var(--block-embed-max-height)
//     max-width var(--block-embed-max-width)
//     overflow var(--block-embed-overflow)

//   svg
//     height 1em
//     display inline
//     min-width 1em

