// TODO add support for secondary, tertiary schemes
// TODO add mixins to generate properties for schemes
//      ex: secondary()

:root, :host
  
  --primary-foreground var(--light-primary-foreground)
  --primary-background var(--light-primary-background)
  --primary-accent var(--light-primary-accent)
  --primary-highlight var(--light-primary-highlight)

  @media (prefers-color-scheme: dark)
    --primary-foreground var(--dark-primary-foreground)
    --primary-background var(--dark-primary-background)
    --primary-accent var(--dark-primary-accent)
    --primary-highlight var(--dark-primary-highlight)

  --foreground var(--primary-foreground)
  --background var(--primary-background)
  --accent var(--primary-accent)
  --highlight var(--primary-highlight)

  @css {
    html {
      --success: color-mix(in lch, var(--highlight), green 25%);
      --info: color-mix(in lch, var(--highlight), blue 25%);
      --warning: color-mix(in lch, var(--highlight), yellow 25%);
      --failure: color-mix(in lch, var(--highlight), red 25%);
    }
  }

  body, .body
    color var(--foreground)
    background var(--background)
