form
  gap 1rem

  button
    font-size inherit
    line-height inherit
    min-width 6rem
    padding-inline 0.5rem
    padding-block 0.25rem
    background var(--background)
    color var(--highlight)
    