header, footer
  display flex
  gap 1rem
  align-items center
  justify-content space-between
  // max-width du(5)

header, footer
  &:empty
    display none

  // & > header > .header
  //   display flex
  //   flex-direction column
  //   align-items center
  //   width 100vw
  //   border-bottom var(--header-border-bottom)

  //   &:empty
  //     display none

  //   &.messages
  //     border-bottom none

  // & > header > .header > *
  //   box-sizing border-box
  //   width 100vw
  //   display flex
  //   flex-direction var(--header-flex-direction)
  //   flex-wrap wrap
  //   gap 2rem
  //   justify-content space-between
  //   align-items center
  //   padding 0.5rem 1.5rem
  //   max-width du(5)

  //   h1, h2
  //     color var(--h1-color)
  //     font-size var(--first-level-heading-font-size)
  //     line-height var(--first-level-heading-line-height)
  //   h1 ~ h2, h3
  //     color var(--h2-h6-color)
  //     font-size var(--second-level-heading-font-size)
  //     line-height var(--second-level-heading-line-height)

  // & > main
  //   overflow var(--top-level-main-overflow)
  //   display flex
  //   flex-direction row
  //   justify-content center
  //   width 100vw

  //   & > .pages
  //     box-sizing border-box
  //     display flex
  //     flex-wrap wrap
  //     justify-content center
  //     align-items flex-start
  //     align-content flex-start
  //     row-gap 4rem
  //     column-gap 2rem
  //     padding var(--main-padding)
  //     width 100%
  //     max-width du(5)
  //     height fit-content

  // & > main
  //   display flex
  //   flex-direction row
  //   justify-content center
  //   flex-wrap wrap
  //   align-items flex-start
  //   align-content flex-start
  //   row-gap 4rem
  //   column-gap 2rem
  //   padding var(--main-padding)
  //   width 100%
  //   max-width du(5)
  //   height fit-content
  //   overflow var(--top-level-main-overflow)

  // & > footer
  //   smallest()
  //   box-sizing border-box
  //   width 100vw
  //   display flex
  //   gap 2rem
  //   justify-content center
  //   padding 0.5rem 1.5rem
  //   border-top 1px solid var(--primary-accent)
  //   max-width du(5)
