@require "mixins/dimension"

// default font
:root
  font-family var(--copy-font, var(--heading-font, var(--base-font)))
  font-size var(--copy-font-size, 1rem)
  line-height var(--copy-line-height, 1.5rem)

h1, h2, h3, h4, h5, h6
  font-weight bold
  font-family var(--heading-font, var(--base-font))
  min-width var(--heading-min-width, s("min(90vw, %s)", du(1)))

i
  margin-right 0.25rem

h1
  color var(--h1-color)
  text-transform capitalize

h2, h3, h4, h5, h6
  color var(--h2-h6-color)

h1
  font-size var(--first-level-heading-font-size)
  line-height var(--first-level-heading-line-height)
h2
  font-size var(--second-level-heading-font-size)
  line-height var(--second-level-heading-line-height)
h3
  font-size var(--third-level-heading-font-size)
  line-height var(--third-level-heading-line-height)

p, ul, ol, blockquote, .copy
  color var(--neutral-foreground)
  font-family var(--copy-font, var(--heading-font, var(--base-font)))
  font-size var(--copy-font-size, 1rem)
  line-height var(--copy-line-height, 1.5rem)
  max-width var(--copy-max-width)
  min-width var(--copy-min-width)

h1, h2, h3, h4, h5, h6, p, li, blockquote, .copy, ul
  text-align var(--text-align, left)
  &:not(:first-child)
    margin-top var(--copy-margin)

.main
  text-align var(--text-align, left)
